<nz-page-header nzTitle="" class="check-paper-page">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/admin">
        <i nz-icon nzType="home">
        </i>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>考试管理</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>试卷管理</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-content>
    <nz-layout>
      <nz-content style="background-color: #ffffff;">
        <div class="paper-table-div">
          <div>
            <div style="margin-bottom: 15px;margin-left: 15px">
              <button style="margin-left: 5px" nz-button nzType="primary" nzSize="defalut" nzShape="round"
                (click)="UpdateTableData()">
                <i nz-icon [nzType]="loading?'loading' : 'reload'"></i>刷新
              </button>
              <button style="margin-left: 15px" nz-button nzType="primary" nzSize="default" nzShape="round"
                (click)="GeneratePaper()">
                <i nz-icon nzType="plus"></i>添加试卷
              </button>
              <button style="margin-left: 15px" nz-button nzType="danger" nzSize="default" nzShape="round"
              *ngIf="delete_paper_papercodes.length > 0" (click)="DeletePapers()" [nzLoading]="delete_loading">
              <i nz-icon nzType="user-delete"></i>批量删除试卷
            </button>
            </div>
            <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="true" [nzData]="paper_info_list"
              [nzLoading]="loading" [(nzPageIndex)]="page_index" [(nzPageSize)]="page_size" [nzScroll]="{y:'360px'}">
              <thead>
                <tr>
                  <th>
                  </th>
                  <th nzWidth="200px" nzCustomFilter>
                    <b>试卷名
                      <i class="ant-table-filter-icon" nz-icon nz-dropdown #dropdown="nzDropdown" nzType="search"
                        [nzDropdownMenu]="menu" [class.ant-table-filter-open]="dropdown.nzVisible" nzTrigger="click"
                        nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>
                    </b>
                  </th>
                  <th nzWidth="180px"><b>创建用户</b></th>
                  <th nzWidth="220px" nzShowSort [(nzSort)]="create_time_sort_value"
                  (nzSortChange)="TimeSortStatusChanged()"><b>创建时间</b></th>
                  <th nzWidth="220px"><b>最后修改时间</b></th>
                  <th nzWidth="120px" style="align-content: center"><b>操作</b></th>
                </tr>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <div class="search-box">
                    <input type="text" nz-input placeholder="请输入搜索的试卷名称" [(ngModel)]="paper_title_search_val" />
                    <button nz-button nzSize="small" nzType="primary" (click)="SearchPaperTitle()" class="search-button">
                      搜索
                    </button>
                    <button nz-button nzSize="small" (click)="ResetArrayData()">重置</button>
                  </div>
                </nz-dropdown-menu>
              </thead>
              <tbody>
                <tr *ngFor="let data of ajaxTable.data;let i=index">
                  <td nzShowCheckbox [(nzChecked)]="data.delete_flag" (nzCheckedChange)="RefreshDeleteCheckStatus()"></td>
                  <td>
                    <p nz-paragraph nzCopyable [(nzContent)]="data.title"></p>
                  </td>
                  <td>
                    {{data.userName}}
                  </td>
                  <td>
                    {{data.createTime}}
                  </td>
                  <td>
                    {{data.lastModifiedTime==null?data.createTime:data.lastModifiedTime}}
                  </td>
                  <td>
                    <button nz-button nzSize="small" nzType="primary" (click)="EditPaper(i)" nzShape="circle"
                      nz-tooltip nzTitle="编辑/查看详情">
                      <i nz-icon nzType="edit"></i>
                    </button>
                    <nz-divider nzType="vertical"></nz-divider>
                    <button nz-button nzSize="small" nzType="danger" nzShape="circle" nz-popconfirm
                      nzPopconfirmTitle="是否删除？" (nzOnConfirm)="DeletePaper(i)" nz-tooltip nzTitle="删除">
                      <i nz-icon nzType="delete"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
     
        <nz-drawer [nzVisible]="drawer_visible" nzPlacement="right" nzTitle="详细信息" (nzOnClose)="DrawerClose()"
          [nzWidth]="500">
          <!--todo:显示试卷详情-->
        </nz-drawer>
      </nz-content>
    </nz-layout>
  </nz-page-header-content>
</nz-page-header>