<div #content_canvas style="height: 100%;width: 100%;">
  <nz-page-header nzTitle="" class="check-student-page">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="home"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>考生管理</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-content>
      <nz-layout>
        <nz-content style="background-color: #ffffff;">
          <div class="student-table-div">
            <div>
              <div style="margin-bottom: 15px;margin-left: 15px">
                <button style="margin-left: 5px" nz-button nzType="primary" nzSize="defalut" nzShape="round"
                  (click)="UpdateTableData();UpdateGroupInfo();">
                  <i nz-icon [nzType]="loading?'loading' : 'reload'"></i>刷新
                </button>
                <button style="margin-left: 15px" nz-button nzType="primary" nzSize="default" nzShape="round"
                  (click)="CheckStudentInfo(-1)">
                  <i nz-icon nzType="user-add"></i>添加考生
                </button>
                <button style="margin-left: 15px" nz-button nzType="primary" nzSize="default" nzShape="round"
                  (click)="dialog_visible=true">
                  <i nz-icon nzType="usergroup-add"></i>批量导入
                </button>
              </div>
              <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="true" [nzData]="student_info_list"
                [nzLoading]="loading" [(nzPageIndex)]="page_index" [(nzPageSize)]="page_size" [nzScroll]="{y:'360px'}">
                <thead (nzSortChange)="sort($event)" nzSingleSort>
                  <tr>
                    <th nzShowCheckbox [(nzChecked)]="is_allDisplay_data_checked" [nzIndeterminate]="is_indeterminate">
                    </th>
                    <th nzWidth="200px" nzCustomFilter>
                      <b>用户名
                        <i class="ant-table-filter-icon" nz-icon nz-dropdown #dropdown="nzDropdown" nzType="search"
                          [nzDropdownMenu]="menu" [class.ant-table-filter-open]="dropdown.nzVisible" nzTrigger="click"
                          nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>
                      </b>
                    </th>
                    <th nzWidth="220px"><b>口令</b></th>
                    <th nzWidth="180px"><b>所在组</b></th>
                    <th nzWidth="120px" style="align-content: center"><b>操作</b></th>
                  </tr>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <div class="search-box">
                      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                        Search
                      </button>
                      <button nz-button nzSize="small" (click)="reset()">Reset</button>
                    </div>
                  </nz-dropdown-menu>
                </thead>
                <tbody>
                  <tr *ngFor="let data of ajaxTable.data;let i=index">
                    <td nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" (nzCheckedChange)="refreshStatus()"></td>
                    <td>
                      <p nz-paragraph nzCopyable [(nzContent)]="data.userName"></p>
                    </td>
                    <td>
                      <p nz-paragraph nzCopyable [(nzContent)]="data.password"></p>
                    </td>
                    <td nz-popover [nzTitle]="'所在考生组详情'" [nzContent]="popoverContentTemplate">
                      <ng-template #popoverContentTemplate>
                        <div *ngFor="let group of data.group_list">{{group.group_name}}</div>
                      </ng-template>
                      <nz-badge [nzCount]="data.group_list.length">
                        <span>{{data.group_list.length==0 ? '无':data.group_list[0].group_name+'...'}}</span>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                      </nz-badge>
                    </td>
                    <td>
                      <button nz-button nzSize="small" nzType="primary" (click)="CheckStudentInfo(i)" nzShape="circle"
                        nz-tooltip nzTitle="编辑">
                        <i nz-icon nzType="edit"></i>
                      </button>
                      <nz-divider nzType="vertical"></nz-divider>
                      <button nz-button nzSize="small" nzType="danger" nzShape="circle" nz-popconfirm
                        nzPopconfirmTitle="是否删除？" (nzOnConfirm)="DeleteUser(i)" nz-tooltip nzTitle="删除">
                        <i nz-icon nzType="delete"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
          <nz-modal [(nzVisible)]="dialog_visible" nzTitle="批量导入考生用户" (nzOnCancel)="DialogCancelHandle()"
            (nzOnOk)="DialogOKHandle()" [nzOkLoading]="dialog_ok_loading">
            <nz-upload nzType="drag" nzAction="http://localhost:8080/upi/user/batch/" [nzCustomRequest]="customReq">
              <p class="ant-upload-drag-icon">
                <i nz-icon nzType="cloud-upload"></i>
              </p>
              <p class="ant-upload-text">点击或拖动模板至此处</p>
              <p class="ant-upload-hint">
                批量导入考生用户模板从本系统下载
              </p>
            </nz-upload>
            <div style="text-align: center;margin-top: 20px">
              <button nz-button nzSize="large" (click)="DownloadTemplate()" [nzLoading]="is_downloading_template">
                <i nz-icon nzType="cloud-download"></i>点击下载Excel模板
              </button>
            </div>
          </nz-modal>
          <nz-drawer [nzVisible]="drawer_visible" nzPlacement="right" nzTitle="详细信息" (nzOnClose)="DrawerClose()"
            [nzWidth]="500">
            <form nz-form>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>用户名</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="edit_user_name=='' ? 'error':'validating'"
                  nzErrorTip="用户名不能为空!">
                  <input nz-input nzSize="large" name="username" [(ngModel)]="edit_user_name" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>密码</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="edit_password=='' ? 'error':'validating'"
                  nzErrorTip="密码不能为空！">
                  <input nz-input nzSize="large" name="password" [(ngModel)]="edit_password" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24">所在考生组</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-select [(ngModel)]="edit_group_list" (ngModelChange)="EditGroupChange()" name="question_answer"
                    nzSize="large" nzMode="tags" nzPlaceHolder="请选择组" (nzOpenChange)="GroupSelectOpened($event)"
                    [compareWith]="compareFn">
                    <nz-option *ngIf="user_group_loading" nzDisabled nzCustomContent>
                      <i nz-icon nzType="loading" class="loading-icon"></i> 加载数据中...
                    </nz-option>
                    <nz-option *ngFor="let group of all_group_info" [nzLabel]="group.group_name" [nzValue]="group">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <div class="drawer-footer">
                <button nz-button type="button" (click)="DrawerClose()" class="ant-btn"
                  style="margin-right: 15px;"><span>取消</span></button>
                <button nz-button type="button" (click)="EditUserInfo()" class="ant-btn ant-btn-primary"
                  [nzLoading]="edit_user_info_loading"><span>提交</span></button>
              </div>
            </form>
          </nz-drawer>
        </nz-content>
        <nz-sider [nzWidth]="300" nzTheme="light"
          [ngStyle]="{'background-color': '#FFFFFF','height':elem_height_str,'overflow-y':'auto'}">
          <div style="width: 100%;">
            <h2 style="text-align: center">用户组管理</h2>
            <nz-skeleton [nzLoading]="group_info_loading" [nzActive]="true">
              <nz-card style="margin-left: 15px;margin-right:15px" *ngFor="let group of all_group_info;let i=index;"
                [nzTitle]="group.group_name" nzType="inner" [nzExtra]="extraTemplate">
                <nz-select [(ngModel)]="edit_group_student_list[i]" nzSize="large" nzMode="tags" nzPlaceHolder="请选择学生"
                  [compareWith]="compareFn_stu" style="width: 100%;">
                  <nz-option *ngFor="let student of all_studnets" [nzLabel]="student.user_name" [nzValue]="student">
                  </nz-option>
                </nz-select>
                <button nz-button *ngIf="edit_group_student_list[i].toString() != group.students.toString()"
                  style="margin-top: 10px;float:right" (click)="GroupStudentListChangeDone(i)"
                  [nzLoading]="edit_group_student_list_loading">
                  保存修改
                </button>
                <ng-template #extraTemplate>
                  <input nz-input *ngIf="edit_group_name_flags[i]" [(ngModel)]="edit_group_name"
                    style="width: 80%;margin-bottom: 10px;margin-left: 10px;">
                  <i nz-icon *ngIf="edit_group_name_flags[i]" style="cursor: pointer;margin-left: 10px;"
                    (click)="EditGroupNameDone(i)" nzType="check"></i>
                  <i nz-icon style="cursor: pointer;margin-left: 10px;"
                    (click)="edit_group_name = all_group_info[i].group_name;edit_group_name_flags[i]=true;"
                    nzType="edit"></i>
                  <i nz-icon style="cursor: pointer;margin-left: 10px;" nzType="minus"
                    (click)="all_group_info.splice(i,1);edit_group_name_flags.splice(i,1);"></i>
                </ng-template>
              </nz-card>
            </nz-skeleton>

          </div>
        </nz-sider>
      </nz-layout>
    </nz-page-header-content>

  </nz-page-header>
</div>