<nz-page-header nzTitle="" class="check-exam-page">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/student">
        <i nz-icon nzType="home">
        </i>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>在线考试</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>查看考试</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-content>
    <div class="exam-table-div">
      <div>
        <div style="margin-bottom: 15px;margin-left: 15px">
          <button style="margin-left: 5px" nz-button nzType="primary" nzSize="defalut" nzShape="round"
            (click)="UpdateTableData()">
            <i nz-icon [nzType]="loading?'loading' : 'reload'"></i>刷新
          </button>
        </div>
        <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="true" [nzData]="student_exam_info_list"
          [nzLoading]="loading" [(nzPageIndex)]="page_index" [(nzPageSize)]="page_size" [nzScroll]="{y:'360px'}">
          <thead>
            <tr>
              <th nzWidth="180px" nzCustomFilter>
                <b>&nbsp;考试名
                  <i class="ant-table-filter-icon" nz-icon nz-dropdown #dropdown="nzDropdown" nzType="search"
                    [nzDropdownMenu]="menu" [class.ant-table-filter-open]="dropdown.nzVisible" nzTrigger="click"
                    nzPlacement="bottomRight" [nzClickHide]="true" nzTableFilter></i>
                </b>
              </th>
              <th nzWidth="180px" nzShowSort [(nzSort)]="begin_time_sort_value"
                (nzSortChange)="TimeSortStatusChanged($event)"><b>开始时间</b></th>
              <th nzWidth="180px"><b>结束时间</b></th>
              <th nzWidth="120px"><b>持续时长</b></th>
              <th nzWidth="110px" nzShowFilter [nzFilterMultiple]="true" [nzFilters]="status_filter"
                (nzFilterChange)="StatusFilterChange($event)">
                <b>考试状态</b>
              </th>
              <th nzWidth="120px" style="align-content: center"><b>操作</b></th>
            </tr>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <div class="search-box">
                <input type="text" nz-input placeholder="输入要检索的考试名" [(ngModel)]="search_exam_name_value" />
                <button nz-button nzSize="small" nzType="primary" (click)="SearchNameInArray()" class="search-button">
                  搜索
                </button>
                <button nz-button nzSize="small" (click)="ResetArrayData()">重置</button>
              </div>
            </nz-dropdown-menu>
          </thead>
          <tbody>
            <tr *ngFor="let data of ajaxTable.data;let i=index;">
              <td>
                <p nz-paragraph nzCopyable [(nzContent)]="data.examName"></p>
              </td>
              <td>
                {{data.beginTime}}
              </td>
              <td>
                {{data.endTime}}
              </td>
              <td>
                {{ParseDurationNum(data.duration).hour|number:'2.0'}}&nbsp;:
                {{ParseDurationNum(data.duration).minute|number:'2.0'}}&nbsp;:
                {{ParseDurationNum(data.duration).sec|number:'2.0'}}
              </td>
              <td>
                {{data.status}}
              </td>
              <td>
                <button nz-button nzSize="small" nzType="primary" (click)="EnterExam(i)" nzShape="circle" nz-tooltip
                  nzTitle="参加考试" [disabled]="data.status != '进行中'">
                  <i nz-icon nzType="edit"></i>
                </button>
                <nz-divider nzType="vertical"></nz-divider>
                <button nz-button nzSize="small" nzType="primary" (click)="ExamAdministrationDrawerOpen(i)"
                  nzShape="circle" nz-tooltip nzTitle="查看交卷情况" [disabled]="data.status != '已结束'">
                  <i nz-icon nzType="container"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>