<nz-page-header nzTitle="" style="width: 100%;height: 100%">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <i nz-icon nzType="home"></i>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>考生账户管理</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-content>
    <div  style="width: 100%;height: 100%">
      <p nz-paragraph>
        Ant Design interprets the color system into two levels: a system-level color system and a product-level
        color system.
      </p>
    </div>
  </nz-page-header-content>
</nz-page-header>