<nz-page-header nzTitle="" class="check-exam-page">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/admin">
        <i nz-icon nzType="home">
        </i>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>考试管理</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>考试答卷详情</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-content>
    <nz-layout>
      <nz-content style="background-color: #ffffff;">
        <div class="exam-table-div">
          <div>
            <div style="margin-bottom: 15px;margin-left: 15px">
              <button style="margin-left: 5px" nz-button nzType="primary" nzSize="defalut" nzShape="round"
                (click)="UpdateTableData(true)">
                <i nz-icon [nzType]="loading?'loading' : 'reload'"></i>刷新
              </button>
              <button style="margin-left: 15px" nz-button nzType="primary" nzSize="defalut" nzShape="round"
                (click)="EditExam(-1)">
                <i nz-icon nzType="plus"></i>添加考试
              </button>
              <button style="margin-left: 15px" nz-button nzType="danger" nzSize="default" nzShape="round"
                *ngIf="delete_exam_ids.length > 0" (click)="DeleteExams()" [nzLoading]="delete_loading">
                <i nz-icon nzType="user-delete"></i>批量删除考试
              </button>
            </div>
            <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="true" [nzData]="exam_info_list"
              [nzLoading]="loading" [(nzPageIndex)]="page_index" [(nzPageSize)]="page_size" [nzScroll]="{y:'360px'}">
              <thead>
                <tr>
                  <th>
                  </th>
                  <th nzWidth="180px" nzCustomFilter>
                    <b>考试名
                      <i class="ant-table-filter-icon" nz-icon nz-dropdown #dropdown="nzDropdown" nzType="search"
                        [nzDropdownMenu]="menu" [class.ant-table-filter-open]="dropdown.nzVisible" nzTrigger="click"
                        nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>
                    </b>
                  </th>
                  <th nzWidth="180px"><b>试卷名</b></th>
                  <th nzWidth="180px" nzWidth="180px" nzShowSort [(nzSort)]="begin_time_sort_value"
                    (nzSortChange)="TimeSortStatusChanged()"><b>开始时间</b></th>
                  <th nzWidth="180px"><b>结束时间</b></th>
                  <th nzWidth="120px"><b>持续时长</b></th>
                  <th nzWidth="120px" nzShowFilter [nzFilterMultiple]="true" [nzFilters]="status_filter"
                    (nzFilterChange)="StatusFilterChange($event)"><b>考试状态</b></th>
                  <th nzWidth="160px" style="align-content: center"><b>操作</b></th>
                </tr>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <div class="search-box">
                    <input type="text" nz-input placeholder="输入要检索的考试名" [(ngModel)]="search_exam_name_value" />
                    <button nz-button nzSize="small" nzType="primary" (click)="SearchNameInArray()"
                      class="search-button">
                      搜索
                    </button>
                    <button nz-button nzSize="small" (click)="ResetArrayData()">重置</button>
                  </div>
                </nz-dropdown-menu>
              </thead>
              <tbody>
                <tr *ngFor="let data of ajaxTable.data;let i=index">
                  <td nzShowCheckbox [(nzChecked)]="data.delete_flag" (nzCheckedChange)="RefreshDeleteCheckStatus()">
                  </td>
                  <td>
                    <p nz-paragraph nzCopyable [(nzContent)]="data.examName"></p>
                  </td>
                  <td>
                    <p nz-paragraph nzCopyable [(nzContent)]="data.paper_info.title"></p>
                  </td>
                  <td>
                    {{data.beginTime}}
                  </td>
                  <td>
                    {{data.endTime}}
                  </td>
                  <td>
                    {{ParseDurationNum(data.duration).hour|number:'2.0'}}&nbsp;:
                    {{ParseDurationNum(data.duration).minute|number:'2.0'}}&nbsp;:
                    {{ParseDurationNum(data.duration).sec|number:'2.0'}}
                  </td>
                  <td>
                    {{data.status}}
                  </td>
                  <td>
                    <button nz-button nzSize="small" nzType="primary" (click)="EditExam(i)" nzShape="circle" nz-tooltip
                      nzTitle="编辑" [disabled]="data.status != '未开始'">
                      <i nz-icon nzType="edit"></i>
                    </button>
                    <nz-divider nzType="vertical"></nz-divider>
                    <button nz-button nzSize="small" nzType="primary" (click)="ExamAdministrationDrawerOpen(i)"
                      nzShape="circle" nz-tooltip nzTitle="查看学生交卷情况"
                      [disabled]="data.status == '未开始' || data.status == '进行中'">
                      <i nz-icon nzType="container"></i>
                    </button>
                    <nz-divider nzType="vertical"></nz-divider>
                    <button nz-button nzSize="small" nzType="danger" nzShape="circle" nz-popconfirm
                      nzPopconfirmTitle="是否删除？" (nzOnConfirm)="DeleteExam(i)" nz-tooltip nzTitle="删除"
                      [disabled]="data.status != '未开始'">
                      <i nz-icon nzType="delete"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
        <nz-drawer [nzVisible]="drawer_visible" nzPlacement="right" nzTitle="详细信息" (nzOnClose)="DrawerClose()"
          [nzWidth]="500">
          <form nz-form>

            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>考试名称</nz-form-label>
              <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="考试名称不能为空!">
                <input nz-input nzSize="large" name="exam_name" [(ngModel)]="edit_exam_name" />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24">试卷</nz-form-label>
              <nz-form-control [nzSm]="15" [nzXs]="24">
                <nz-select [(ngModel)]="edit_exam_paper_info" name="exam_paper" nzSize="large" nzPlaceHolder="请选择试卷"
                  (nzOpenChange)="UpdatePaperInfo($event)" [nzLoading]="all_paper_info_loading"
                  (ngModelChange)="test2($event)" [compareWith]="compareFn_paper">
                  <nz-option *ngIf="all_paper_info_loading" nzDisabled nzCustomContent>
                    <i nz-icon nzType="loading" class="loading-icon"></i> 加载数据中...
                  </nz-option>
                  <nz-option *ngFor="let paper of all_paper_info" [nzLabel]="paper.title" [nzValue]="paper">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24">开始时间</nz-form-label>
              <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="开始时间不能为空!">
                <nz-date-picker name="exam_start_time" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss"
                  nzPlaceHolder="请选择日期与时刻" [(ngModel)]="edit_exam_start_time"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24">结束时间</nz-form-label>
              <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="结束时间不能为空!">
                <nz-date-picker name="exam_end_time" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" nzPlaceHolder="请选择日期与时刻"
                  [(ngModel)]="edit_exam_end_time"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>考试时长</nz-form-label>
              <nz-form-control [nzSm]="5" [nzXs]="24" nzErrorTip="考试时长不能为空!">
                <nz-input-group nzSize="large" nzAddOnAfter="时">
                  <input type="text" name="exam_hour" nz-input [(ngModel)]="edit_exam_hour" />
                </nz-input-group>
              </nz-form-control>
              <nz-form-control [nzSm]="5" [nzXs]="24" nzErrorTip="考试时长不能为空!">
                <nz-input-group nzSize="large" nzAddOnAfter="分">
                  <input name="exam_minute" type="text" nz-input [(ngModel)]="edit_exam_minute" />
                </nz-input-group>
              </nz-form-control>
              <nz-form-control [nzSm]="5" [nzXs]="24" nzErrorTip="考试时长不能为空!">
                <nz-input-group nzSize="large" nzAddOnAfter="秒">
                  <input name="exam_second" type="text" nz-input [(ngModel)]="edit_exam_second" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24">考生组</nz-form-label>
              <nz-form-control [nzSm]="15" [nzXs]="24">
                <nz-select [(ngModel)]="edit_exam_group" name="exam_group" (nzOpenChange)="UpdateGroupInfo($event)"
                  nzSize="large" nzMode="tags" nzPlaceHolder="请选择考生组" [compareWith]="compareFn">
                  <nz-option *ngIf="exam_group_loading" nzDisabled nzCustomContent>
                    <i nz-icon nzType="loading" class="loading-icon"></i> 加载数据中...
                  </nz-option>
                  <nz-option *ngFor="let group of all_group_info" [nzLabel]="group.group_name" [nzValue]="group">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <div class="drawer-footer">
              <button nz-button type="button" (click)="DrawerClose()" class="ant-btn"
                style="margin-right: 15px;"><span>取消</span></button>
              <button nz-button type="button" (click)="EditExamInfo()" class="ant-btn ant-btn-primary"
                [nzLoading]="edit_exam_info_loading"><span>提交</span></button>
            </div>
          </form>
        </nz-drawer>

        <nz-drawer [nzVisible]="exam_administration_drawer_visible" nzPlacement="right"
          [nzTitle]="exam_info_list[current_select_exam].examName+ ' （' + exam_info_list[current_select_exam].status + '） 考生答题情况'"
          (nzOnClose)="exam_administration_drawer_visible = false;" [nzWidth]="900">
          <div class="exam-administration-table-div">
            <div style="margin-bottom: 15px;margin-left: 15px">
              <button style="margin-left: 5px" nz-button nzSize="defalut" (click)="UpdateStudentPaperInfo(true)">
                <i nz-icon [nzType]="exam_administration_loading?'loading' : 'reload'"></i>刷新
              </button>
              <button style="margin-left: 15px" nz-button nzSize="defalut" [nzLoading]="judge_objective_loading"
                (click)="JudgeObjective()" nz-tooltip nzTitle="考试状态变为判卷中，同时系统自动判客观题"
                [disabled]="exam_info_list[current_select_exam].status != '判卷中'">
                <i nz-icon nzType="play-square"></i>开始判题
              </button>
              <button style="margin-left: 15px" nz-button nzSize="defalut" [nzLoading]="end_exam_loading"
                (click)="EndExam()" nz-tooltip nzTitle="停止修改成绩，考试状态变为已结束"
                [disabled]="exam_info_list[current_select_exam].status != '判卷中'">
                <i nz-icon nzType="close-square"></i>结束考试
              </button>
            </div>
            <nz-table #ajaxTable2 nzShowSizeChanger [nzFrontPagination]="true" [nzData]="exam_student_paper_info_list"
              nzBordered [nzScroll]="{y:'450px'}" [(nzPageSize)]="exam_administration_page_size"
              [nzLoading]="exam_administration_loading" [(nzPageIndex)]="exam_administration_page_index">
              <thead>
                <tr>
                  <th nzWidth="180px" nzCustomFilter>
                    <b>考生用户名
                      <!--i class="ant-table-filter-icon" nz-icon nz-dropdown #dropdown="nzDropdown" nzType="search"
                        [nzDropdownMenu]="menu" [class.ant-table-filter-open]="dropdown.nzVisible" nzTrigger="click"
                        nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i-->
                    </b>
                  </th>
                  <th nzWidth="100px"><b>提交状态</b></th>
                  <th nzWidth="120px"><b>客观题得分</b></th>
                  <th nzWidth="120px"><b>主观题得分</b></th>
                  <th nzWidth="100px"><b>总分</b></th>
                  <th nzWidth="100px" style="align-content: center"><b>操作</b></th>
                </tr>
                <!--nz-dropdown-menu #menu="nzDropdownMenu">
                  <div class="search-box">
                    <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                    <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                      Search
                    </button>
                    <button nz-button nzSize="small" (click)="reset()">Reset</button>
                  </div>
                </nz-dropdown-menu-->
              </thead>
              <tbody>
                <tr *ngFor="let data of ajaxTable2.data;let i=index">
                  <td>
                    <p nz-paragraph nzCopyable [nzContent]="data.studentName"></p>
                  </td>
                  <td>
                    {{data.endFlag == 1?'已提交':'未提交'}}
                  </td>
                  <td>
                    {{data.objectiveGrade == null?'0':data.objectiveGrade}}
                  </td>
                  <td>
                    {{data.subjectiveGrade == null?'0':data.subjectiveGrade}}
                  </td>
                  <td>
                    {{data.studentTotalPoint == null?'0':data.studentTotalPoint}}/{{data.paperTotalPoint}}
                  </td>
                  <td>
                    <button nz-button nzSize="small" nzType="primary" (click)="JudgePaper(i)" nzShape="circle"
                      nz-tooltip nzTitle="进入判题"
                      [disabled]="exam_student_paper_info_list[i].objectiveStatus != 1 || exam_info_list[current_select_exam].status != '判卷中'">
                      <i nz-icon nzType="edit"></i>
                    </button>
                    <nz-divider nzType="vertical"></nz-divider>
                    <button nz-button nzSize="small" nzType="primary" (click)="CheckExamPaper(i)" nzShape="circle"
                      nz-tooltip nzTitle="查看完整试题信息"
                      [disabled]="data.subjectiveStatus == null || data.subjectiveStatus == 0">
                      <i nz-icon nzType="container"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </nz-drawer>
      </nz-content>
    </nz-layout>
  </nz-page-header-content>
</nz-page-header>