<nz-layout class="student-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null" (mouseenter)="side_fix ? isCollapsed: isCollapsed = false">
    <div class="sidebar-logo">
      <nz-avatar nzIcon="user" nzSize="large" style="background-color:#7265e6;"></nz-avatar>
      <h1>管理员用户&nbsp;</h1>
      <span>{{user_name}}</span>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item routerLink="/admin/check-student">
        <i nz-icon nzType="team"></i>
        <span>考生管理</span>
      </li>
      <li nz-submenu nzOpen nzTitle="试卷管理" nzIcon="solution">
        <ul>
          <li nz-menu-item nzMatchRouter routerLink="/admin/generate-paper">
            <a>编写试卷&组题</a>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/admin/check-question">
            <a>题库管理</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="考试管理" nzIcon="reconciliation">
        <ul>
          <li nz-menu-item nzMatchRouter routerLink="/admin/5">
            <a>考试&阅卷</a>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/admin/6">
            <a>历史成绩</a>
          </li>
        </ul>
      </li>
      <li nz-menu-item (click)="Logout()">
        <i nz-icon nzType="logout"></i>
        <span>退出登陆</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger">
          <i class="trigger" nz-icon nzType="layout" (click)="side_fix = !side_fix"
            [nzTheme]="side_fix ? 'fill' : 'outline'" nz-tooltip [nzTitle]="side_fix ? '边框已固定': '边框未固定'"></i>
        </span>
        <h1>在线考试系统V0.1</h1>
      </div>
    </nz-header>
    <nz-content (mouseenter)="side_fix ? isCollapsed: isCollapsed = true">
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>