<nz-layout class="login-layout">

    <div class="login-bg">
        <div class="login-box">
            <h1 style="margin-top:30px;">在线考试系统 V0.1</h1>
            <div class="form-group">
                <form nz-form>
                    <nz-form-item *ngIf="is_electron">
                        <nz-input-group [nzSuffix]="suffixTemplate_serverurl" [nzPrefix]="prefixTemplate_serverurl"
                            nzSize="large">
                            <input type="text" nz-input [(ngModel)]="server_url" name="serverurl" placeholder="请输入服务器地址" />
                        </nz-input-group>
                        <ng-template #prefixTemplate_serverurl><i nz-icon nzType="cloud-server"></i></ng-template>
                        <ng-template #suffixTemplate_serverurl><i nz-icon nz-tooltip nzTitle="后台服务器的地址，形如http://x.x.x.x:8080"
                                nzType="info-circle"></i>
                        </ng-template>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control [nzValidateStatus]="user_name=='' ? 'error':'validating'" nzErrorTip="用户名不能为空">
                            <nz-input-group [nzSuffix]="suffixTemplate_uname" [nzPrefix]="prefixTemplate_uname"
                                nzSize="large">
                                <input type="text" nz-input [(ngModel)]="user_name" name="uname" placeholder="请输入用户名" />
                            </nz-input-group>
                            <ng-template #prefixTemplate_uname><i nz-icon nzType="user"></i></ng-template>
                            <ng-template #suffixTemplate_uname><i nz-icon nz-tooltip nzTitle="用户由后台添加"
                                    nzType="info-circle"></i>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control [nzValidateStatus]="password==''? 'error':'validating'" nzErrorTip="密码不能为空">
                            <nz-input-group [nzSuffix]="suffixTemplate_pwd" [nzPrefix]="prefixTemplate_pwd"
                                nzSize="large">
                                <input type="text" nz-input [type]="passwordVisible ? 'text' : 'password'"
                                    [(ngModel)]="password" name="pwd" placeholder="请输入密码" />
                            </nz-input-group>
                            <ng-template #prefixTemplate_pwd><i nz-icon nzType="profile"></i></ng-template>
                            <ng-template #suffixTemplate_pwd>
                                <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                    (click)="passwordVisible = !passwordVisible" nz-tooltip
                                    [nzTitle]="passwordVisible ? '密码已显示':'密码已隐藏'">
                                </i>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <button nz-button class="login-btn" [nzType]="'primary'" (click)="LoginCheck()"
                        [nzLoading]="is_checking">
                        <i nz-icon nzType="login"></i>登陆</button>
                </form>
            </div>
        </div>
    </div>
</nz-layout>