<div #content_canvas style="height: 100%;width: 100%;">
  <nz-page-header nzTitle="" class="generate-paper-page">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>
        <a routerLink="/admin">
          <i nz-icon nzType="home"></i>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>试卷管理</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>生成试卷</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-content style="height: 100%;">
      <nz-layout>
        <nz-sider [ngStyle]="{'background-color': '#FFFFFF','height':elem_height_str,width:'200px',
            'overflow-y':'auto','overflow-x':'auto','padding-right':'20px'}">
          <nz-input-group [nzSuffix]="suffixIcon">
            <input type="text" nz-input placeholder="搜索知识点" [(ngModel)]="search_value" />
          </nz-input-group>
          <ng-template #suffixIcon>
            <i nz-icon nzType="search"></i>
          </ng-template>
          <nz-skeleton [nzLoading]="knowledge_loading" [nzActive]="true">
            <nz-tree [nzData]="knowledge" [nzSearchValue]="search_value" (nzClick)="nzEvent($event)"
              (nzExpandChange)="nzEvent($event)" (nzSearchValueChange)="nzEvent($event)">
            </nz-tree>
          </nz-skeleton>

        </nz-sider>
        <nz-content [ngStyle]="{'background-color': '#FFFFFF','height':elem_height_str,
          'overflow-y':'auto','padding-left':'20px'}">
          <nz-collapse>

            <nz-collapse-panel nzHeader="题目列表" [nzActive]="true" [nzShowArrow]="false" style="cursor:unset;">
              <nz-skeleton [nzLoading]="all_filtered_questions_loading" [nzActive]="true">

                <nz-collapse>
                  <nz-collapse-panel *ngFor="let question of all_filtered_questions;let i=index;" [nzActive]="true"
                    [nzShowArrow]="true" [nzHeader]="GetQuestionHead(question)">
                    <nz-card [nzActions]="[actionSetting, actionEdit]">
                      <section class="code-box">
                        <section class="code-box-demo">
                          <nz-list nzSize="large">
                            <nz-list-item *ngIf="question.description != '' && question.description != null">
                              <pre><span style="font-weight:bold;font-size: 120%">{{question.description}}</span></pre>
                            </nz-list-item>
                            <nz-list-item *ngFor="let option of question.options;let i=index;" 
                            [nzContent]="GetOptionLabel(i)+option.content">
                            </nz-list-item>
                          </nz-list>
                        </section>
                        <section class="code-box-meta markdown">
                          <section class="code-box-title">
                            参考答案
                            <i nz-icon nzType="edit"></i>
                          </section>
                          <section class="code-box-description">
                            <div [innerHtml]="GetAnswerStr(question)"></div>
                          </section>
                          <section class="code-box-actions">
                            知识点：{{GetKnowledgeStr(question)}}
                          </section>
                        </section>
                      </section>
                    </nz-card>

                    <ng-template #actionSetting>
                      <i nz-icon nzType="setting"></i>
                      设置分数
                      <input nz-input style="width: 50px;margin-left: 10px" [(ngModel)]="paper_question_scores[i]"/>
                    </ng-template>
                    <ng-template #actionEdit>
                      <i nz-icon nzType="highlight"></i>
                      <span>添加至大题</span>
                      <nz-select style="width: 160px;margin-left: 10px" nzShowSearch nzAllowClear nzPlaceHolder="选择大题"
                        [(ngModel)]="selected_values[i]" (ngModelChange)="CategorySelectChanged(i)">
                        <nz-option *ngFor="let category of categorys" [nzLabel]="category"
                          [nzValue]="category"></nz-option>
                      </nz-select>
                    </ng-template>
                  </nz-collapse-panel>
                </nz-collapse>
              </nz-skeleton>

            </nz-collapse-panel>
          </nz-collapse>
        </nz-content>
        <span style="background-color: #FFFFFF">
          <i class="trigger" nz-icon (click)="isCollapsed = !isCollapsed"
            style="font-size: 25px;margin-left: 10px;margin-right: 10px;"
            [nzType]="isCollapsed ? 'menu-fold' : 'menu-unfold'"></i>
        </span>
        <nz-sider [nzWidth]="300" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="0" [nzTrigger]="null"
          nzTheme="light"
          [ngStyle]="{'background-color': '#FFFFFF','height':elem_height_str,'overflow-y':'auto','overflow-x':'auto'}">
          <h2 style="text-align: center;">已选题目(100分)</h2>
          <div>
            <input type="text" nz-input style="width:80%;margin-left: 2px;margin-right: 10px;margin-bottom: 15px;"
              placeholder="输入大题名称" [(ngModel)]="new_category_str"/>
            <button nz-button nzType="small" nzShape="circle" (click)="AddCategory()"><i nz-icon nzType="plus"></i></button>
          </div>
          <nz-card *ngFor="let category of categorys;let i=index" style="margin-right: 15px;overflow-x:auto;" nzType="inner"
            [nzTitle]="GetCategoryTitle(i)" [nzExtra]="extraTemplate">
            <nz-badge *ngFor="let question of category_to_questions.get(categorys[i]);let j=index"
             [nzCount]="question.score" [nzStyle]="{ backgroundColor: 'grey' }">
              <nz-tag style="margin-top: 5px;margin-bottom: 5px;padding:5px 0 5px 8px;" 
                nzMode="closeable" (nzOnClose)="category_to_questions.get(categorys[i]).splice(j,1)">
                <div
                  [ngStyle]="{'float': 'left','font-size':'120%','width':'90%','white-space':linefeed?'unset':'pre-wrap'}">
                  {{question.content}}
                </div>
              </nz-tag>
            </nz-badge>
            <ng-template #extraTemplate>
            <input nz-input *ngIf="edit_category_flags[i]" [(ngModel)]="categorys[i]" (focus)="old_val = categorys[i]"
            (ngModelChange)="CategoryNameChanged(old_val,$event); old_val = $event;"
              style="width: 80%;margin-bottom: 10px;margin-left: 10px;">
            <i nz-icon *ngIf="edit_category_flags[i]" style="cursor: pointer;margin-left: 10px;" 
              (click)="EditCateGoryDone(i)" nzType="check"></i>
            <i nz-icon style="cursor: pointer;margin-left: 10px;" (click)="edit_category_flags[i]=true" nzType="edit"></i>
            <i nz-icon style="cursor: pointer;margin-left: 10px;" (click)="linefeed=!linefeed"
              [nzType]="linefeed?'zoom-in':'zoom-out'"></i>
            <i nz-icon style="cursor: pointer;margin-left: 10px;" nzType="minus" 
              (click)="categorys.splice(i,1);edit_category_flags.splice(i,1);"></i>
          </ng-template>
          </nz-card>

        </nz-sider>
      </nz-layout>
    </nz-page-header-content>
  </nz-page-header>

</div>