<div #content_canvas style="height: 100%;width: 100%;">
  <nz-page-header nzTitle="" class="generate-paper-page">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>
        <a routerLink="/admin">
          <i nz-icon nzType="home"></i>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>试卷管理</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>编写试卷&组题</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-content style="height: 100%;">
      <nz-layout>
        <nz-sider [ngStyle]="{'background-color': '#FFFFFF','height':elem_height_str,width:'200px',
            'overflow-y':'auto','overflow-x':'auto','padding-right':'20px'}">
          <nz-input-group [nzSuffix]="suffixIcon">
            <input type="text" nz-input placeholder="搜索知识点" [(ngModel)]="search_value" />
          </nz-input-group>
          <ng-template #suffixIcon>
            <i nz-icon nzType="search"></i>
          </ng-template>
          <nz-tree [nzData]="nodes" [nzSearchValue]="search_value" (nzClick)="nzEvent($event)"
            (nzExpandChange)="nzEvent($event)" (nzSearchValueChange)="nzEvent($event)">
          </nz-tree>
        </nz-sider>
        <nz-content
          [ngStyle]="{'background-color': '#FFFFFF','height':elem_height_str,
          'overflow-y':'auto','padding-left':'20px'}">
          <nz-collapse>
            <nz-collapse-panel nzHeader="题目列表" nzActive="true">
              <p style="margin:0;">
                A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a
                welcome
                guest in many households across the world.
              </p>
            </nz-collapse-panel>
          </nz-collapse>
        </nz-content>
      </nz-layout>
    </nz-page-header-content>
  </nz-page-header>
</div>