<div #content_canvas style="height: 100%;width: 100%;">
  <nz-page-header nzTitle="" class="check-exam-paper-page">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>
        <a routerLink="/admin">
          <i nz-icon nzType="home"></i>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>试卷管理</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>阅卷</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-content style="height: 100%;">
      <nz-layout>
        <nz-content [ngStyle]="{'background-color': '#FFFFFF','height':elem_height_str,
          'overflow-y':'auto','padding-left':'20px'}">
          <nz-skeleton *ngIf="student_paper_judge_detail_loading" [nzActive]="true"></nz-skeleton>
          <nz-collapse *ngIf="!student_paper_judge_detail_loading">
            <nz-collapse-panel *ngFor="let category of student_paper_judge_detail.categoryList;let i=index;"
              [nzHeader]="GetCategoryTitle(i,category.categoryContent)" [nzActive]="true" [nzShowArrow]="false">
              <nz-collapse>
                <nz-collapse-panel *ngFor="let question of category.questionList;let j=index;"
                  [nzHeader]="(j+1) + '. ' + question.content" [nzActive]="true" [nzShowArrow]="true"
                  [ngStyle]="{'background-color':GetQuestionColor(question)}" >
                  <!--选择题-->
                  <nz-card *ngIf="question.type != 'subjective'">
                    <section class="code-box">
                      <section class="code-box-demo2">
                        <nz-list nzSize="large">
                          <nz-list-item *ngIf="question.description != ''">
                            <div style="font-size: 120%"
                              [innerHtml]="question.description"></div>
                          </nz-list-item>
                          <nz-list-item *ngFor="let option of question.options;let k=index;"
                            [nzContent]="GetOptionStr(option)">
                          </nz-list-item>
                        </nz-list>
                      </section>
                      <section class="code-box-demo">
                        <nz-list nzSize="large">
                          <section class="code-box-title">
                            考生作答
                            <i nz-icon nzType="edit"></i>
                          </section>
                          <nz-list-item>
                            <div>{{GetObjectiveAnswer(question.student_answer)}}</div>
                          </nz-list-item>
                        </nz-list>
                      </section>
                      <section class="code-box-meta markdown">
                        <section class="code-box-title">
                          参考答案
                          <i nz-icon nzType="edit"></i>
                        </section>
                        <section class="code-box-description">
                          <div>{{GetObjectiveAnswer(question.def_ans)}}</div>
                        </section>
                      </section>
                    </section>
                  </nz-card>

                  <!--简答题-->
                  <nz-card *ngIf="question.type == 'subjective'">
                    <section class="code-box">
                      <section class="code-box-demo2">
                        <div *ngIf="question.description != ''" style="font-size: 120%"
                          [innerHtml]="question.description"></div>
                      </section>
                      <section class="code-box-demo">
                        <nz-list nzSize="large">
                          <section class="code-box-title">
                            考生作答
                            <i nz-icon nzType="edit"></i>
                          </section>
                          <nz-list-item>
                            <div [innerHtml]="GetRichHtml(question.student_answer[0].content)"></div>
                          </nz-list-item>
                        </nz-list>
                      </section>
                      <section class="code-box-meta markdown">
                        <section class="code-box-title">
                          参考答案
                          <i nz-icon nzType="edit"></i>
                        </section>
                        <section class="code-box-description">
                          <div [innerHtml]="GetRichHtml(question.def_ans[0].content)"></div>
                        </section>
                      </section>
                    </section>
                  </nz-card>

                </nz-collapse-panel>
              </nz-collapse>
            </nz-collapse-panel>
          </nz-collapse>
        </nz-content>
        <nz-sider [ngStyle]="{'background-color': '#FFFFFF','height':elem_height_str,'overflow-y':'auto'}">
          <ul nz-menu nzMode="inline">
            <li nz-submenu nzOpen nzTitle="考生列表" nzIcon="reconciliation"
              *ngIf="all_student_judge_info != [] && all_student_judge_info != null">
              <ul>
                <li *ngFor="let student of all_student_judge_info;let i=index;" nz-menu-item (click)="SwitchStudent(i)"
                  [nzSelected]='i == current_student_index'>
                  <span>
                    {{student.studentName}}
                  </span>
                </li>
              </ul>
            </li>
          </ul>
        </nz-sider>
      </nz-layout>
    </nz-page-header-content>
  </nz-page-header>

</div>