<div #content_canvas style="height: 100%;width: 100%">

  <nz-page-header nzTitle="" class="check-exam-paper-page">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>
        <a routerLink="/admin">
          <i nz-icon nzType="home">
          </i>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>在线考试</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>参加考试</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-content>
      <nz-layout>
        <nz-content
          [ngStyle]="{'background-color': '#FFFFFF','height':elem_height_str,'overflow-y':'auto','padding-right':'20px'}">
          <nz-layout>
            <nz-content style="background-color:#FFFFFF">
              <h1 style="text-align: center">{{exam_name}}</h1>
            </nz-content>
          </nz-layout>

          <nz-skeleton *ngIf="get_paper_loading" [nzActive]="true"></nz-skeleton>

          <nz-steps *ngIf="!get_paper_loading" nzType="navigation" nzSize="small" [nzCurrent]="current_category">
            <nz-step *ngFor="let category of student_paper_info.categoryList;let i = index"
              [nzTitle]="category.categoryContent"
              [nzStatus]="current_category > i ? 'finish':(current_category == i?'process':'wait')"></nz-step>
          </nz-steps>
          <nz-divider></nz-divider>

          <div style="width: 100%;" *ngIf="!get_paper_loading">
            <div style="font-weight:bold;font-size: 125%">
              [{{GetTypeStr()}}]&nbsp;
              {{current_question+1}}.
              {{student_paper_info.categoryList[current_category].questionList[current_question].content}}
              （{{student_paper_info.categoryList[current_category].questionList[current_question].student_point}}/{{student_paper_info.categoryList[current_category].questionList[current_question].score}}）
            </div>
            <div style="margin-top: 20px;margin-bottom: 10px;"
              *ngIf="student_paper_info.categoryList[current_category].questionList[current_question].description!=''">
              <span style="font-weight: 500;font-size: 110%;"
                [innerHtml]="student_paper_info.categoryList[current_category].questionList[current_question].description">
              </span>
            </div>
            <!---单选题-->
            <nz-radio-group [nzDisabled]="true"
              *ngIf="student_paper_info.categoryList[current_category].questionList[current_question].type=='single'||
              student_paper_info.categoryList[current_category].questionList[current_question].type=='judge'"
              style="width: 100%;"
              [(ngModel)]="student_paper_info.categoryList[current_category].questionList[current_question].radio_value"
              (ngModelChange)="updateRadioStatus()">
              <label nz-radio
                *ngFor="let option of student_paper_info.categoryList[current_category].questionList[current_question].options;let i = index"
                class="option-radio"
                (mouseenter)="student_paper_info.categoryList[current_category].questionList[current_question].option_bdcolor[i]='#333'"
                (mouseleave)="updateRadioStatus()" [nzValue]="GetValue(i)"
                [ngStyle]="{'background-color': student_paper_info.categoryList[current_category].questionList[current_question].option_bgcolor[i],'border-color':student_paper_info.categoryList[current_category].questionList[current_question].option_bdcolor[i]}">
                {{option.content}}
              </label>
            </nz-radio-group>
            <!--多选题，checkbox-gruop无法修改单个选项的样式，所以只能手动统计checkbox-->
            <div *ngIf="student_paper_info.categoryList[current_category].questionList[current_question].type=='multi'"
              style="width: 100%;">
              <label nz-checkbox [nzDisabled] = "true"
                *ngFor="let option of student_paper_info.categoryList[current_category].questionList[current_question].options;let i = index"
                [(ngModel)]="student_paper_info.categoryList[current_category].questionList[current_question].checkbox_values[i]"
                class="option-checkbox"
                (mouseenter)="student_paper_info.categoryList[current_category].questionList[current_question].option_bdcolor[i]='#333'"
                (mouseleave)="updateCheckboxStatus()"
                [ngStyle]="{'background-color': student_paper_info.categoryList[current_category].questionList[current_question].option_bgcolor[i],'border-color':student_paper_info.categoryList[current_category].questionList[current_question].option_bdcolor[i]}">
                {{option.content}}
              </label>
            </div>
            <!--简答题-->
            <div
              *ngIf="student_paper_info.categoryList[current_category].questionList[current_question].type=='subjective'"
              style="width: 100%;margin-top:15px">
              <ckeditor [editor]="editor" [config]="editor_config"
                [(ngModel)]="student_paper_info.categoryList[current_category].questionList[current_question].editor_value"
                (ngModelChange)="limit()">
              </ckeditor>
            </div>
          </div>

          <nz-layout *ngIf="!get_paper_loading" style="margin-top: 15px">
            <nz-content style="background-color:#FFFFFF;padding-left: 20px;">
              <div *ngIf="student_paper_info.categoryList[current_category].questionList[current_question].type != 'subjective'">正确答案：{{GetDefAnsStr()}}</div>
            </nz-content>
            <nz-sider style="background-color:#FFFFFF;">
              <nz-button-group>
                <button nz-button nzType="primary" (click)="PrevQuestion()"><i nz-icon nzType="left"></i>上一题</button>
                <button nz-button nzType="primary" (click)="NextQuestion()">下一题<i nz-icon nzType="right"></i></button>
              </nz-button-group>
            </nz-sider>
          </nz-layout>
        </nz-content>
        <nz-sider *ngIf="!get_paper_loading" [ngStyle]="{'background-color': '#FFFFFF','height':elem_height_str,'overflow-y':'auto'}">
          <ul nz-menu nzMode="inline">
            <li nz-submenu nzOpen nzTitle="答题卡" nzIcon="reconciliation">
              <ul>
                <li nz-submenu *ngFor="let category of student_paper_info.categoryList;let i=index;"
                  [nzTitle]="category.categoryContent">
                  <ul *ngIf="category.questionList != null && category.questionList != []">
                    <li nz-menu-item [nzSelected]="i==current_category&&j==current_question"
                      *ngFor="let question of category.questionList;let j=index;" (click)="SwitchQuestion(i,j)">
                        第{{j+1}}题
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

          </ul>
        </nz-sider>
      </nz-layout>
    </nz-page-header-content>
  </nz-page-header>

</div>