<nz-page-header nzTitle="" class="check-question-page">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/admin">
        <i nz-icon nzType="home">
        </i>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>考试管理</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>阅卷</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-content>
    <div>
        <h3>客观题得分：{{objective_grade}}</h3>
    </div>
    <div [innerHtml]="user_ans"></div>
  </nz-page-header-content>
</nz-page-header>