<div #content_canvas style="height: 100%;width: 100%;">
  <nz-page-header nzTitle="" class="judge-paper-page">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>
        <a routerLink="/admin">
          <i nz-icon nzType="home"></i>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>试卷管理</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>阅卷</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-content style="height: 100%;">
      <nz-layout>
        <nz-content [ngStyle]="{'background-color': '#FFFFFF','height':elem_height_str,
          'overflow-y':'auto','padding-left':'20px'}">
          <nz-alert nzType="info"
            [nzMessage]="'考生 '+ all_student_judge_info[0]['student_answers_detail'][current_student_index]['student_name'] + 
            ' 客观题分数为 ' + 
            all_student_judge_info[0]['student_answers_detail'][current_student_index]['paper_status']['objective_grade'] +
            ' 分'"
            style="margin-bottom: 10px;"
            nzShowIcon>
          </nz-alert>
          <nz-collapse>
            <nz-collapse-panel nzHeader="考生主观题答题情况" [nzActive]="true" [nzShowArrow]="false">
              <nz-collapse *ngIf="all_student_judge_info != [] && all_student_judge_info != null">
                <nz-collapse-panel
                  *ngFor="let question of all_student_judge_info[0]['student_answers_detail'][current_student_index]['paper_status']['subjective_answers']"
                  [nzHeader]="question.content" [nzActive]="true" [nzShowArrow]="true">
                  <nz-card [nzActions]="[actionSetting]">
                    <section class="code-box">
                      <section class="code-box-demo2">
                        <pre><span *ngIf="question.description != ''" style="font-weight:bold;font-size: 120%">{{question.description}}</span></pre>
                      </section>
                      <section class="code-box-demo">
                        <nz-list nzSize="large">
                          <section class="code-box-title">
                            考生作答
                            <i nz-icon nzType="edit"></i>
                          </section>
                          <nz-list-item>
                            <div [innerHtml]="question.student_answer[0].content"></div>
                          </nz-list-item>
                        </nz-list>
                      </section>
                      <section class="code-box-meta markdown">
                        <section class="code-box-title">
                          参考答案
                          <i nz-icon nzType="edit"></i>
                        </section>
                        <section class="code-box-description">
                          <div [innerHtml]="question.answer[0].content"></div>
                        </section>
                      </section>
                    </section>
                  </nz-card>

                  <ng-template #actionSetting>
                    <i nz-icon nzType="setting"></i>
                    设置得分（总分{{question.total_point}}分）
                    <input nz-input style="width: 100px;margin-left: 10px;margin-right: 10px;"
                      [(ngModel)]="question.point" (focus)="emm=true" />
                  </ng-template>
                </nz-collapse-panel>
              </nz-collapse>
            </nz-collapse-panel>
          </nz-collapse>
        </nz-content>
        <nz-sider [ngStyle]="{'background-color': '#FFFFFF','height':elem_height_str,'overflow-y':'auto'}">
          <ul nz-menu nzMode="inline">
            <li nz-submenu nzOpen nzTitle="考生列表" nzIcon="reconciliation"
              *ngIf="all_student_judge_info != [] && all_student_judge_info != null">
              <ul>
                <li *ngFor="let student of all_student_judge_info[0]['student_answers_detail'];let i=index;"
                  nz-menu-item (click)="current_student_index = i;" [nzSelected] = 'i == current_student_index'>
                  <span *ngIf="StudentAllJudged(i)">
                    {{student['student_name']}}
                  </span>
                  <nz-badge *ngIf="!StudentAllJudged(i)" nzDot>
                      {{student['student_name']}}&nbsp;
                  </nz-badge>
                </li>
              </ul>
            </li>
          </ul>
        </nz-sider>
      </nz-layout>
      <button nz-button nzSize="large" (click)="SubmitStudentGrade()" class="submit-judge-button">提交学生成绩</button>
    </nz-page-header-content>
  </nz-page-header>

</div>