<nz-page-header nzTitle="" class="check-question-page">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/admin">
        <i nz-icon nzType="home">
        </i>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>试卷管理</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>考试题库管理</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-content>
    <div class="question-table-div">
      <div>
        <div style="margin-bottom: 15px;margin-left: 15px">
          <button style="margin-left: 5px" nz-button nzType="primary" nzSize="defalut" nzShape="round"
            (click)="UpdateTableData()">
            <i nz-icon [nzType]="loading?'loading' : 'reload'"></i>刷新
          </button>
          <button style="margin-left: 15px" nz-button nzType="primary" nzSize="default" nzShape="round"
            (click)="AddStudentInfo()">
            <i nz-icon nzType="user-add"></i>添加试题
          </button>
          <button style="margin-left: 15px" nz-button nzType="primary" nzSize="default" nzShape="round"
            (click)="dialog_visible=true">
            <i nz-icon nzType="usergroup-add"></i>批量导入
          </button>
        </div>
        <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="true" [nzData]="question_info_list"
          [nzLoading]="loading" [(nzPageIndex)]="page_index" [(nzPageSize)]="page_size" [nzScroll]="{y:'350px'}">
          <thead (nzSortChange)="sort($event)" nzSingleSort>
            <tr>
              <th nzShowCheckbox [(nzChecked)]="is_allDisplay_data_checked" [nzIndeterminate]="is_indeterminate"></th>
              <th nzWidth="200px" nzCustomFilter>
                <b>题干
                  <i class="ant-table-filter-icon" nz-icon nz-dropdown #dropdown="nzDropdown" nzType="search"
                    [nzDropdownMenu]="menu" [class.ant-table-filter-open]="dropdown.nzVisible" nzTrigger="click"
                    nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>
                </b>
              </th>
              <th nzWidth="160px"><b>试题类型</b></th>
              <th nzWidth="300px"><b>追加描述</b></th>
              <th nzWidth="200px"><b>选项</b></th>
              <th nzWidth="150px"><b>参考答案</b></th>
              <th nzWidth="150px" style="align-content: center"><b>操作</b></th>
            </tr>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <div class="search-box">
                <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                  Search
                </button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </nz-dropdown-menu>
          </thead>
          <tbody>
            <tr *ngFor="let data of ajaxTable.data;let i=index">
              <td nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" (nzCheckedChange)="refreshStatus()"></td>
              <td>
                <p nz-paragraph nzCopyable [nzContent]="data.content"></p>
              </td>
              <td>
                {{GetTypeStr(i)}}
              </td>
              <td>
                {{data.description}}
              </td>

              <td nz-popover [nzTitle]="'选项'" [nzContent]="popoverContentTemplate">
                <ng-template #popoverContentTemplate>
                  <div *ngFor="let option of data.options">{{option.option}}</div>
                </ng-template>
                <nz-badge [nzCount]="data.options.length">
                  <span>{{data.options==0 ? '无':data.options[0].option+'...'}}</span>
                  <span>&nbsp;&nbsp;&nbsp;</span>
                </nz-badge>
              </td>
              <td>
                {{GetAnswer(i)}}
              </td>
              <td>
                <button nz-button nzSize="small" nzType="primary" (click)="CheckQuestionInfo(i)" nzShape="circle"
                  nz-tooltip nzTitle="编辑">
                  <i nz-icon nzType="edit"></i>
                </button>
                <nz-divider nzType="vertical"></nz-divider>
                <button nz-button nzSize="small" nzType="danger" nzShape="circle" nz-popconfirm
                  nzPopconfirmTitle="是否删除？" (nzOnConfirm)="DeleteUser(i)" nz-tooltip nzTitle="删除">
                  <i nz-icon nzType="delete"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
    <nz-modal [(nzVisible)]="dialog_visible" nzTitle="批量导入考生用户" (nzOnCancel)="DialogCancelHandle()"
      (nzOnOk)="DialogOKHandle()" [nzOkLoading]="dialog_ok_loading">
      <nz-upload nzType="drag" nzAction="http://localhost:8080/" [nzCustomRequest]="customReq">
        <p class="ant-upload-drag-icon">
          <i nz-icon nzType="cloud-upload"></i>
        </p>
        <p class="ant-upload-text">点击或拖动模板至此处</p>
        <p class="ant-upload-hint">
          批量导入试题模板从本系统下载
        </p>
      </nz-upload>
      <div style="text-align: center;margin-top: 20px">
        <button nz-button nzSize="large" (click)="DownloadTemplate()" [nzLoading]="is_downloading_template">
          <i nz-icon nzType="cloud-download"></i>点击下载Excel模板
        </button>
      </div>
    </nz-modal>
    <nz-drawer [nzVisible]="drawer_visible" nzPlacement="right" nzTitle="详细信息" (nzOnClose)="DrawerClose()"
      [nzWidth]="700">
      <form nz-form>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>题干</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="题干不能为空!">
            <input nz-input nzSize="large" name="question_content" [(ngModel)]="edit_question_content" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>试题类型</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="试题类型不能为空!">
            <nz-select [(ngModel)]="edit_question_type" name="question_type" nzSize="large" nzAllowClear
              nzPlaceHolder="选择题目类型">
              <nz-option-group nzLabel="客观题">
                <nz-option nzValue="single" nzLabel="单选题"></nz-option>
                <nz-option nzValue="multi" nzLabel="不定项选择题"></nz-option>
                <nz-option nzValue="judge" nzLabel="判断题"></nz-option>
                <nz-option nzValue="code" nzLabel="编程题" nzDisabled></nz-option>
              </nz-option-group>
              <nz-option-group nzLabel="主观题">
                <nz-option nzValue="subjective" nzLabel="简答题"></nz-option>
              </nz-option-group>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>试题描述</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input nzSize="large" name="question_description" [(ngModel)]="edit_question_description" />
          </nz-form-control>
        </nz-form-item>
        <!--todo: 选择题分割选项显示编辑-->
        <div *ngIf="edit_question_type!='subjective'">
          <nz-form-item *ngFor="let option of edit_question_options;let i = index">
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>选项{{i+1}}</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24"
              nzErrorTip="选项不能为空！">
              <input nz-input nzSize="large" [name]="'question_option'+i" [(ngModel)]="option.option" />
            </nz-form-control>
          </nz-form-item>

          <button nz-button nzSize="large" nzType="primary" style="margin-left: 66%;margin-bottom: 20px;">添加选项</button>
          
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>参考答案</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="参考答案不能为空！">
              <nz-select [(ngModel)]="edit_question_answer" (ngModelChange)="test()" name="question_answer"
              nzSize="large" nzMode="tags" nzPlaceHolder="请选择答案">
                <nz-option *ngFor="let option of edit_question_options" [nzLabel]="option.option" [nzValue]="option.id">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <!--todo: 简答题显示分割选项显示编辑-->
        <div *ngIf="edit_question_type=='subjective'">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>参考答案</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="密码不能为空！">
              <input nz-input nzSize="large" name="question_description" [(ngModel)]="edit_question_description" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>知识点</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-select [ngModel]="edit_question_knowledge" nzSize="large" nzMode="tags" nzPlaceHolder="请选择答案">
                <nz-option *ngFor="let option of edit_question_options" [nzLabel]="option.option" [nzValue]="option.id">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        <div class="drawer-footer">
          <button nz-button type="button" (click)="DrawerClose()" class="ant-btn"
            style="margin-right: 15px;"><span>取消</span></button>
          <button nz-button type="button" (click)="EditUserInfo()" class="ant-btn ant-btn-primary"
            [nzLoading]="edit_question_info_loading"><span>提交</span></button>
        </div>
      </form>
    </nz-drawer>
  </nz-page-header-content>
</nz-page-header>